*, :before, :after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: -apple-system, "Nunito", sans-serif
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(175, 96%, 30%, 0.164);
}

.buton {
  background-color: #03968a;
  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
  backface-visibility: hidden;
  border-radius: 80px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  line-height: 1.5;
  padding: 16px 40px;
  text-decoration: none;
  transition: box-shadow .3s;
  user-select: none;
}

.buton:hover {
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .25), inset 0 0 100px rgba(0, 0, 0, .25);
  text-decoration: none
}

.buton.kucuk {
  font-size: 13px;
  padding: 8px 24px;
}

/* Header */
header {
  animation-delay: .5s;
  animation-duration: 1s;
  animation-name: bounce;
  background-color: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, .05);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav ul {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 16px 0;
}

header a {
  align-items: center;
  border-radius: 4px;
  color: #555;
  cursor: pointer;
  display: inline-flex;
  font-size: 15px;
  justify-content: center;
  margin-right: 4px;
  padding: 8px 12px;
  text-decoration: none;
  user-select: none;
}

header a:last-child {
  margin-right: 0;
}

header a:not(.logo):not(.buton):hover {
  background-color: rgba(0, 0, 0, .03);
  color: #444;
  text-decoration: none;
}

header a:not(.logo).active {
  background-color: rgba(0, 0, 0, .03);
}

header a.logo {
  margin-right: 16px;
}

header ul:first-child a:not(.logo) svg {
  margin-right: 8px;
}

/* Mobil Menu */
.mobil-menu {
  left: 24px;
  opacity: .5;
  position: fixed;
  top: 24px;
}

.mobil-menu:hover {
  opacity: 1;
}

aside {
  background-color: #fff;
  height: calc(100vh - 82px);
  margin-top: 82px;
  overflow-y: auto;
  left: 0;
  padding-bottom: 320px;
  position: fixed;
  top: 0;
  width: 250px;
  z-index: 1;
}

aside nav {
  padding: 16px;
}

aside h6 {
  color: #b8c2cc;
  font-size: 13px;
  margin: 32px 0 8px 0;
  text-transform: uppercase;
}

aside a {
  align-items: center;
  color: #3d4852;
  display: flex;
  font-size: 14px;
  line-height: 2;
  margin-bottom: 8px;
  text-decoration: none;
}

aside a:hover {
  color: #3d4852;
  text-decoration: underline;
}

aside a.active {
  color: #03968a;
  font-weight: bold;
}

aside a svg {
  margin-right: 8px;
  width: 24px;
}

/* Main */
main {
  margin-top: 280px
}

/* Home */
.home {
  animation-duration: 2s;
  animation-name: fadeInHome;
}

.home .intro-title {
  font-weight: 100;
  width: 50%;
}

.home .intro-title span {
  color: #03968a
}

.home .ti-cursor {
  margin-left: -4px;
}

.features {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}

.features figure {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  margin: 0;
  min-width: 240px;
  padding: 24px;
  transition: .3s;
}

.features figure:hover {
  background-color: rgba(0, 0, 0, .025);
  border-radius: 4px;
}

.features figure h5 {
  color: #343434;
  margin: 0;
  transition: .3s;
}

.features figure span {
  color: #b5b5b5;
  transition: .3s;
}

.features figure:hover span {
  color: #444
}

.features figure svg {
  display: block;
  margin-top: 16px;
}

.features figure.responsive:hover h5 {
  color: #ff9800
}

.features figure.flexbox:hover h5 {
  color: #0277bd
}

.features figure.turkish:hover h5 {
  color: #e30a17
}

.features figure.open-source:hover h5 {
  color: #323131
}

/* Doküman */
section.document {
  margin-left: 250px;
}

/*
  animation-delay: 1s;
  animation-duration: 1s;
  animation-name: rubberBand;
*/